In [182]:
import numpy as np

In [183]:
import pandas as pd

train = pd.read_csv('../data/train.csv')
test = pd.read_csv('../data/test.csv')

## Name | Title

In [184]:
train_test_data = [train,test]

for dataset in train_test_data:
    dataset['Title'] = dataset['Name'].str.extract(' ([A-Za-z]+)\.',expand=False)

In [185]:
title_mapping = {'Mr':1.6, 'Miss':0.4, 'Mrs':0.8, 'Master':1.2
                 , 'Dr':0, 'Rev':0, 'Mlle':0, 'Major':0, 'Col':0
                 ,'Countess':0, 'Capt':0, 'Ms':0, 'Sir':0, 'Lady':0
                 , 'Mme':0, 'Don':0, 'Jonkheer':0
                 }

In [186]:
train['Title'] = train['Title'].map(title_mapping)

In [187]:
title_mapping = {'Mr':1.6, 'Miss':0.4, 'Mrs':0.8, 'Master':1.2
                 , 'Col':0, 'Rev':0, 'Ms':0, 'Dr':0, 'Dona':0
                 }

test['Title'] = test['Title'].map(title_mapping)

## Sex

In [188]:
sex_mapping = {'male':0, 'female':1}

for dataset in train_test_data:
    dataset['Sex'] = dataset['Sex'].map(sex_mapping)

## Hase Age

In [189]:
train.loc[train['Age'].isnull(), 'Null_Age'] = 0
test.loc[test['Age'].isnull(), 'Null_Age'] = 0

train.loc[train['Age'].notnull(), 'Null_Age'] = 1
test.loc[test['Age'].notnull(), 'Null_Age'] = 1

## Age

In [190]:
# fill missing age with median age for each title(Mr,Mrs,Miss,Master,Others)
# Age 결측치 해당 Title의 나이의 중앙값으로 채우기

train['Age'].fillna(train.groupby('Title')['Age'].transform('median'),inplace=True)
test['Age'].fillna(test.groupby('Title')['Age'].transform('median'),inplace=True)

In [191]:
for dataset in train_test_data:
    dataset.loc[dataset['Age'] <= 10, 'Age'] =0
    dataset.loc[(dataset['Age'] >10) & (dataset['Age'] <= 17), 'Age'] = 0.4
    dataset.loc[(dataset['Age'] >17) & (dataset['Age'] <= 21), 'Age'] = 0.8
    dataset.loc[(dataset['Age'] >21) & (dataset['Age'] <= 28), 'Age'] = 1.2
    dataset.loc[(dataset['Age'] >28) & (dataset['Age'] <= 32), 'Age'] = 1.6
    dataset.loc[(dataset['Age'] >32) & (dataset['Age'] <= 45), 'Age'] = 2
    dataset.loc[dataset['Age'] >45, 'Age'] = 2.4

train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title,Null_Age
0,1,0,3,"Braund, Mr. Owen Harris",0,1.2,1,0,A/5 21171,7.2500,NaN,S,3,1.0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,2.0,1,0,PC 17599,71.2833,C85,C,2,1.0
2,3,1,3,"Heikkinen, Miss. Laina",1,1.2,0,0,STON/O2. 3101282,7.9250,NaN,S,1,1.0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,2.0,1,0,113803,53.1000,C123,S,2,1.0
4,5,0,3,"Allen, Mr. William Henry",0,2.0,0,0,373450,8.0500,NaN,S,3,1.0

## Embarked

In [192]:
# 대부분 S embark 에서 탐 => fillna('S')

train['Embarked'] = train['Embarked'].fillna('S')
test['Embarked'] = test['Embarked'].fillna('S')

In [193]:
embarked_mapping = {'S':0, 'C':1, 'Q':2}
train['Embarked'] = train['Embarked'].map(embarked_mapping)
test['Embarked'] = test['Embarked'].map(embarked_mapping)

## Fare

In [194]:
test['Fare'].fillna(
    test.groupby('Pclass')['Fare'].transform('median'), inplace=True
)

In [195]:
train['Fare'].isnull().sum(), test['Fare'].isnull().sum()

(0, 0)

## group_size

In [196]:
for ticket_num in train['Ticket'].unique():
    train.loc[train['Ticket']==ticket_num,'group_size'] = len(train[train['Ticket']==ticket_num])

for ticket_num in test['Ticket'].unique():
    test.loc[test['Ticket']==ticket_num,'group_size'] = len(test[test['Ticket']==ticket_num])

In [197]:
train['Fare'] = train['Fare']/train['group_size']
test['Fare'] = test['Fare']/test['group_size']

In [198]:
train_test_data = [train,test]

for dataset in train_test_data:
    dataset.loc[dataset['group_size'] == 1, 'group_size'] = 0
    dataset.loc[dataset['group_size'] == 2, 'group_size'] = 0.4
    dataset.loc[(dataset['group_size'] == 3) | (dataset['group_size'] == 4), 'group_size'] = 0.8
    dataset.loc[dataset['group_size'] > 4, 'group_size'] = 1.2

In [199]:
train_test_data = [train,test]
for dataset in train_test_data:

    dataset.loc[dataset['Fare'] <= 7,'Fare'] = 0
    dataset.loc[(dataset['Fare'] >7) & (dataset['Fare'] <=8.8), 'Fare'] = 0.4
    dataset.loc[(dataset['Fare'] >8.8) & (dataset['Fare'] <=17), 'Fare'] = 0.8
    dataset.loc[(dataset['Fare'] >17) & (dataset['Fare'] <=30), 'Fare'] = 1.2
    dataset.loc[(dataset['Fare'] >30) & (dataset['Fare'] <=100), 'Fare'] = 1.6
    dataset.loc[dataset['Fare'] > 100,'Fare'] = 2

## Hase Cabin

In [200]:
train.loc[train['Cabin'].isnull(), 'Null_Cabin'] = 0
test.loc[test['Cabin'].isnull(), 'Null_Cabin'] = 0

train.loc[train['Cabin'].notnull(), 'Null_Cabin'] = 1
test.loc[test['Cabin'].notnull(), 'Null_Cabin'] = 1

In [201]:
train['Cabin'].isnull().sum()

687

In [202]:
train['Null_Cabin'].unique()

array([0., 1.])

## Cabin

In [203]:
train['Cabin'] = train['Cabin'].str[:1]
test['Cabin'] = test['Cabin'].str[:1]

In [204]:
cabin_mapping = {"A": 0, "B": 0.4, "C": 0.8, "D": 1.2, "E": 1.6, "F": 2, "G": 2.4, "T": 2.8}

train['Cabin'] = train['Cabin'].map(cabin_mapping)
test['Cabin'] = test['Cabin'].map(cabin_mapping)

In [205]:
# test.loc[test['Pclass']==3,'Cabin']=test.loc[test['Pclass']==3,'Cabin'].fillna(2.2)
# test.loc[test['Pclass']==3,'Cabin']=test.loc[test['Pclass']==3,'Cabin'].fillna(2.2)

In [206]:
# # fill missing Fare with median fare for each Pclass
train["Cabin"].fillna(train.groupby("Pclass")["Cabin"].transform("median"), inplace=True)
test["Cabin"].fillna(test.groupby("Pclass")["Cabin"].transform("median"), inplace=True)

## FamilySize

In [207]:
train['FamilySize'] = train['SibSp'] + train['Parch'] + 1
test['FamilySize'] = test['SibSp'] + test['Parch'] + 1

In [208]:
train_test_data = [train,test]
for dataset in train_test_data:

    dataset.loc[dataset['FamilySize'] == 1,'FamilySize'] = 0.4
    dataset.loc[(dataset['FamilySize'] == 2), 'FamilySize'] = 0.8
    dataset.loc[(dataset['FamilySize'] == 3), 'FamilySize'] = 1.2
    dataset.loc[dataset['FamilySize'] > 3,'FamilySize'] = 1.6

---

## modeling

In [209]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score

In [210]:
features_drop = ['Ticket','SibSp','Parch','Name']
train = train.drop(features_drop,axis=1)
test = test.drop(features_drop, axis=1)

In [211]:
train_data = train.drop('Survived',axis=1)
target = train['Survived']

train_data.shape,target.shape

((891, 12), (891,))

In [212]:
test.describe()

,PassengerId,Pclass,Sex,Age,Fare,Cabin,Embarked,Title,Null_Age,group_size,Null_Cabin,FamilySize
count,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000
mean,1100.500000,2.265550,0.363636,1.437321,0.864115,1.687081,0.464115,2.454545,0.794258,0.127273,0.217703,0.677512
std,120.810458,0.841838,0.481622,0.645772,0.496418,0.563371,0.685516,0.907782,0.404727,0.257404,0.413179,0.395079
min,892.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.400000
25%,996.250000,1.000000,0.000000,1.200000,0.400000,1.600000,0.000000,2.000000,1.000000,0.000000,0.000000,0.400000
50%,1100.500000,3.000000,0.000000,1.600000,0.800000,2.000000,0.000000,3.000000,1.000000,0.000000,0.000000,0.400000
75%,1204.750000,3.000000,1.000000,2.000000,1.200000,2.000000,1.000000,3.000000,1.000000,0.000000,0.000000,0.800000
max,1309.000000,3.000000,1.000000,2.400000,2.000000,2.400000,2.000000,4.000000,1.000000,1.200000,1.000000,1.600000

In [213]:
# RandomForest
parameters = {'n_estimators':[400,500]
              ,'max_depth':[4,6,8]
              ,'min_samples_split':[2,4,6]
              ,'min_samples_leaf' : [2,4,6]
              , 'random_state':[32,49]
              }

rf_clf = RandomForestClassifier()

grid_clf = GridSearchCV(rf_clf,param_grid=parameters,scoring='accuracy',cv=5,n_jobs=-1)

grid_clf.fit(train_data,target)
print(grid_clf.best_params_)
print(grid_clf.best_score_)

{'max_depth': 6, 'min_samples_leaf': 2, 'min_samples_split': 6, 'n_estimators': 400, 'random_state': 55}
0.8294080723118448

In [219]:
clf = RandomForestClassifier(n_estimators=400
                             , max_depth=6
                             ,min_samples_split=6
                             ,min_samples_leaf=2
                             , random_state=55)
clf.fit(train_data, target)

prediction = clf.predict(test)

## testing

In [220]:
# feature importance 추출

print("Feature importances:\n{0}".format(np.round(clf.feature_importances_,3)))

# feature 별 importance 매핑

for name, value in zip(train.columns
                       ,clf.feature_importances_):
    print('{0} : {1:.3f}'.format(name, value))

Feature importances:
[0.062 0.07  0.264 0.055 0.066 0.067 0.023 0.244 0.008 0.055 0.042 0.043]
PassengerId : 0.062
Survived : 0.070
Pclass : 0.264
Sex : 0.055
Age : 0.066
Fare : 0.067
Cabin : 0.023
Embarked : 0.244
Title : 0.008
Null_Age : 0.055
group_size : 0.042
Null_Cabin : 0.043

In [221]:
submission_a = pd.read_csv('../data/submission_a.csv')
del submission_a['PassengerId']

In [222]:
accuracy = accuracy_score(prediction, submission_a)

accuracy

0.7822966507177034

In [228]:
acc_list=[]

for r in range(100):
    clf = RandomForestClassifier(n_estimators=400, max_depth=8, min_samples_split=6, min_samples_leaf=2, random_state=r, n_jobs=-1)
    clf.fit(train_data, target) # 학습
    Y_pred = clf.predict(test) # 테스트 데이터로 예측값 추출    
    
    accuracy = accuracy_score(Y_pred, submission_a)
    print(r, accuracy)
    acc_list.append(accuracy)

acc_list.index(max(acc_list)),max(acc_list)

0 0.7822966507177034
1 0.7870813397129187
2 0.7751196172248804
3 0.7727272727272727
4 0.7799043062200957
5 0.777511961722488
6 0.7870813397129187
7 0.7799043062200957
8 0.7822966507177034
9 0.7751196172248804
10 0.7727272727272727
11 0.784688995215311
12 0.7727272727272727
13 0.7799043062200957
14 0.777511961722488
15 0.7799043062200957
16 0.7799043062200957
17 0.784688995215311
18 0.7751196172248804
19 0.7799043062200957
20 0.7727272727272727
21 0.784688995215311
22 0.784688995215311
23 0.7679425837320574
24 0.784688995215311
25 0.7727272727272727
26 0.7655502392344498
27 0.7870813397129187
28 0.7942583732057417
29 0.784688995215311
30 0.7751196172248804
31 0.7822966507177034
32 0.7870813397129187
33 0.777511961722488
34 0.7822966507177034
35 0.7822966507177034
36 0.7870813397129187
37 0.7727272727272727
38 0.777511961722488
39 0.777511961722488
40 0.7870813397129187
41 0.7822966507177034
42 0.7822966507177034
43 0.7751196172248804
44 0.7870813397129187
45 0.777511961722488
46 0.7822966507177034
47 0.7799043062200957
48 0.7751196172248804
49 0.7799043062200957
50 0.784688995215311
51 0.7727272727272727
52 0.784688995215311
53 0.7799043062200957
54 0.7966507177033493
55 0.7751196172248804
56 0.7870813397129187
57 0.7799043062200957
58 0.777511961722488
59 0.7894736842105263
60 0.784688995215311
61 0.784688995215311
62 0.7822966507177034
63 0.7727272727272727
64 0.7822966507177034
65 0.7703349282296651
66 0.777511961722488
67 0.7822966507177034
68 0.777511961722488
69 0.7822966507177034
70 0.7799043062200957
71 0.7751196172248804
72 0.7918660287081339
73 0.784688995215311
74 0.7799043062200957
75 0.777511961722488
76 0.784688995215311
77 0.7822966507177034
78 0.7751196172248804
79 0.784688995215311
80 0.7799043062200957
81 0.784688995215311
82 0.7870813397129187
83 0.7799043062200957
84 0.777511961722488
85 0.7799043062200957
86 0.7751196172248804
87 0.777511961722488
88 0.7727272727272727
89 0.784688995215311
90 0.7870813397129187
91 0.777511961722488
92 0.777511961722488
93 0.7727272727272727
94 0.7799043062200957
95 0.7751196172248804
96 0.777511961722488
97 0.784688995215311
98 0.7799043062200957
99 0.777511961722488

(54, 0.7966507177033493)

In [229]:
clf = RandomForestClassifier(n_estimators=400
                             , max_depth=8
                             ,min_samples_split=6
                             ,min_samples_leaf=2
                             , random_state=54
                             ,n_jobs=-1)
clf.fit(train_data, target)

prediction = clf.predict(test)

In [230]:
accuracy = accuracy_score(prediction, submission_a)

accuracy

0.7966507177033493

In [231]:
submission = pd.DataFrame({

    'PassengerId':test['PassengerId']
    ,'Survived':prediction
    
})
submission.to_csv('submission.csv',index=False)