In [31]:
import pandas as pd
import seaborn as sns
import numpy as np

import matplotlib.pyplot as plt
%matplotlib inline

from sklearn.preprocessing import MinMaxScaler


train = pd.read_csv('../data/train.csv')
test = pd.read_csv('../data/test.csv')

In [32]:
train_test_data = [train,test]

# 전처리

### Embarked

In [33]:
def fillna_Embarked(df):
    for dataset in df:
        dataset['Embarked'] = dataset['Embarked'].fillna('C')
    return df

def map_embarked(df):
    embarked_mapping = {'S':0, 'C':1, 'Q':2}

    for dataset in df:
        dataset['Embarked'] = dataset['Embarked'].map(embarked_mapping)
    
    return df

In [34]:
fillna_Embarked(train_test_data)
train['Embarked'].isnull().sum()

0

### Fare

In [35]:
def fillna_Fare(df):
    for dataset in df:
        dataset['Fare'].fillna(dataset.groupby('Pclass')['Fare'].transform('median'), inplace=True)
    return df

def map_fare(df):

    for dataset in df:

        dataset.loc[dataset['Fare'] <= 7,'Fare'] = 0.4
        dataset.loc[(dataset['Fare'] >7) & (dataset['Fare'] <=8.8), 'Fare'] = 0.8
        dataset.loc[(dataset['Fare'] >8.8) & (dataset['Fare'] <=17), 'Fare'] = 1.2
        dataset.loc[(dataset['Fare'] >17) & (dataset['Fare'] <=30), 'Fare'] = 1.6
        dataset.loc[(dataset['Fare'] >30) & (dataset['Fare'] <=100), 'Fare'] = 2.0
        dataset.loc[dataset['Fare'] > 100,'Fare'] = 2.4
    
    return df

### Age

In [36]:
def fillna_AgeMedian(df):
    for dataset in df:
        dataset['Age'].fillna(dataset.groupby('Title')['Age'].transform('median'),inplace=True)
    return df

def map_age(df):
    for dataset in df:
        dataset.loc[dataset['Age'] <= 17, 'Age'] =0
        dataset.loc[(dataset['Age'] >17) & (dataset['Age'] <= 21), 'Age'] = 1
        dataset.loc[(dataset['Age'] >21) & (dataset['Age'] <= 30), 'Age'] = 2
        dataset.loc[(dataset['Age'] >30) & (dataset['Age'] <= 34), 'Age'] = 3
        dataset.loc[(dataset['Age'] >34) & (dataset['Age'] <= 60), 'Age'] = 4
        dataset.loc[dataset['Age'] >60, 'Age'] = 5
    
    return df

### Cabin

In [37]:
# Cabin
def fillna_cabin(df):
    for dataset in df:
        dataset["Cabin"].fillna(dataset.groupby("Pclass")["Cabin"].transform("median"), inplace=True)

    return df

def map_cabin(df):

    cabin_mapping = {"A": 0, "B": 1, "C": 2, "D": 3, "E": 4, "F": 5, "G": 6, "T": 7}

    for dataset in df:
        dataset['Cabin'] = dataset['Cabin'].map(cabin_mapping)

    return df

In [38]:
cabin_mapping = {"A": 0, "B": 1, "C": 2, "D": 3, "E": 4, "F": 5, "G": 6, "T": 7}

train['Cabin'] = train['Cabin'].map(cabin_mapping)

train['Cabin'] = train["Cabin"].fillna(train.groupby("Pclass")["Cabin"].transform("median"),inplace=True)

In [39]:
s

NameError: name 's' is not defined

In [40]:
train

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,None,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,None,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,None,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,None,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,None,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,None,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,None,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,None,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,None,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,None,Q

### Title

In [ ]:
def map_title(df):

    title_mapping = {'Mr':0, 'Miss':1, 'Mrs':2, 'Master':3
                    , 'Dr':4, 'Rev':4, 'Mlle':4, 'Major':4, 'Col':4
                    ,'Countess':4, 'Capt':4, 'Ms':4, 'Sir':4, 'Lady':4
                    , 'Mme':4, 'Don':4, 'Jonkheer':4
                    }
    train['Title'] = train['Title'].map(title_mapping)

    title_mapping = {'Mr':0, 'Miss':1, 'Mrs':2, 'Master':3
                    , 'Col':4, 'Rev':4, 'Ms':4, 'Dr':4, 'Dona':4
                    }

    test['Title'] = test['Title'].map(title_mapping)

    return df

### Sex

In [ ]:
def map_sex(df):

    sex_mapping = {'male':0, 'female':1}

    for dataset in df:
        dataset['Sex'] = dataset['Sex'].map(sex_mapping)

## 컬럼 생성

### Title

In [ ]:
def made_title(df):
    for dataset in df:
        dataset['Title'] = dataset['Name'].str.extract(' ([A-Za-z]+)\.',expand=False)
    return df

### GroupSize

In [ ]:
def made_groupsize(df):
    for dataset in df:
        for ticket_num in dataset['Ticket'].unique():
            dataset.loc[dataset['Ticket']==ticket_num,'GroupSize'] = len(dataset[dataset['Ticket']==ticket_num])
    return df

### FamilySize

In [ ]:
def made_familysize(df):
    for dataset in df:
        dataset['FamilySize'] = dataset['SibSp'] + dataset['Parch'] + 1

    for dataset in df:

        dataset.loc[dataset['FamilySize'] <= 1,'FamilySize'] = 0.4
        dataset.loc[(dataset['FamilySize'] == 2), 'FamilySize'] = 0.8
        dataset.loc[(dataset['FamilySize'] == 3), 'FamilySize'] = 1.2
        dataset.loc[(dataset['FamilySize'] > 3), 'FamilySize'] = 1.6

    return df

### Fare

In [ ]:
def made_fare(df):
    for dataset in df:
        dataset['Fare'] = dataset['Fare']/dataset['GroupSize']
    return df

## 전처리 함수 호출

In [ ]:
def transform_features(df):
    
    
    fillna_Embarked(df)
    fillna_Fare(df)
    
    made_title(df)
    made_groupsize(df)
    made_familysize(df)
    made_fare(df)

    map_embarked(df)
    map_title(df)
    map_fare(df)
    map_sex(df)
    map_cabin(df)
    map_age(df)

    fillna_AgeMedian(df)
    fillna_cabin(df)

    return df

In [ ]:
train_test_data = transform_features(train_test_data)

In [ ]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title,GroupSize,FamilySize
0,1,0,3,"Braund, Mr. Owen Harris",0,2.0,1,0,A/5 21171,0.8,NaN,0,0,1.0,0.8
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,4.0,1,0,PC 17599,2.0,7.0,1,2,1.0,0.8
2,3,1,3,"Heikkinen, Miss. Laina",1,2.0,0,0,STON/O2. 3101282,0.8,NaN,0,1,1.0,0.4
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,4.0,1,0,113803,1.6,7.0,0,2,2.0,0.8
4,5,0,3,"Allen, Mr. William Henry",0,4.0,0,0,373450,0.8,NaN,0,0,1.0,0.4

In [ ]:
test['Fare'].unique()

array([0.8, 0.4, 1.2, 1.6, 2. , 2.4])

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    int64
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        400 non-null    float64
 11  Embarked     891 non-null    int64
 12  Title        891 non-null    int64
 13  GroupSize    891 non-null    float64
 14  FamilySize   891 non-null    float64
dtypes: float64(5), int64(8), object(2)
memory usage: 104.5+ KB

In [ ]:
test.columns

Index(['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch',
       'Ticket', 'Fare', 'Cabin', 'Embarked', 'Title', 'GroupSize',
       'FamilySize'],
      dtype='object')

## 정규화

In [ ]:
def minmax_scaler(df):
    col = ['Pclass', 'Sex', 'Age', 'SibSp', 'Parch',
            'Fare', 'Cabin', 'Embarked', 'Title', 'GroupSize',
            'FamilySize']
    # 객체 생성
    scaler = MinMaxScaler()
    # 데이터 셑 변환, fit(), transform()
    scaler.fit(df[col])
    df_scaled = scaler.transform(df[col])

    #transforma()시 스케일 변환된 데이터 세트가 ndarray로 반환돼 이를 DataFrame으로 변환
    tt_df_scaled = pd.DataFrame(data=df_scaled, columns=col)
    tt_df_scaled['PassengerId'] = df['PassengerId']
    
    return tt_df_scaled

In [ ]:
train = minmax_scaler(train)
test = minmax_scaler(test)

In [ ]:
train_test_data = [train,test]

In [ ]:
train.head()

,Pclass,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked,Title,GroupSize,FamilySize,PassengerId
0,1.0,0.0,0.4,0.125,0.0,0.2,NaN,0.0,0.00,0.000000,0.333333,1
1,0.0,1.0,0.8,0.125,0.0,0.8,1.0,0.5,0.50,0.000000,0.333333,2
2,1.0,1.0,0.4,0.000,0.0,0.2,NaN,0.0,0.25,0.000000,0.000000,3
3,0.0,1.0,0.8,0.125,0.0,0.6,1.0,0.0,0.50,0.166667,0.333333,4
4,1.0,0.0,0.8,0.000,0.0,0.2,NaN,0.0,0.00,0.000000,0.000000,5

### 컬럼 결측치 예측 데이터셋 생성

In [ ]:
def precol_dataset(colname):
    isnull_col = pd.concat([train[train[colname].isnull()],test[test[colname].isnull()]],ignore_index=True)
    notnull_col = pd.concat([train[train[colname].notnull()],test[test[colname].notnull()]],ignore_index=True)

    notnull_col = notnull_col[['PassengerId','Pclass','Sex',colname,'Fare','Embarked','Title','FamilySize']]
    isnull_col = isnull_col[['PassengerId','Pclass','Sex',colname,'Fare','Embarked','Title','FamilySize']]
    
    test_data = isnull_col.drop(colname,axis=1)
    
    train_data = notnull_col.drop(colname,axis=1)
    target = notnull_col[colname]

    return (test_data, train_data, target)

In [ ]:
test_data, train_data, target = precol_dataset('Age')

In [ ]:
target.isnull().sum()

0

# 머신러닝

In [ ]:
from sklearn import preprocessing


from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV
from xgboost import XGBClassifier

In [ ]:
dt_clf = DecisionTreeClassifier(random_state=42)
rf_clf = RandomForestClassifier(random_state=42)
lr_clf = LogisticRegression(solver='liblinear')
xgb_clf = XGBClassifier(random_state=42)

## 학습/예측/평가

In [ ]:
def ml_accracy(ml,param):
    k_fold = KFold(n_splits=10,shuffle=True, random_state=42)
    grid_clf = GridSearchCV(ml
                            ,param_grid=param
                            ,scoring='accuracy'
                            ,cv=k_fold
                            ,n_jobs=-1)

    grid_clf.fit(train_data,target)
    #pred = ml.predict(test_data)


    return (grid_clf.best_params_,grid_clf.best_score_)

In [ ]:
dt_parameters = {
            
             'max_depth':[3,5,7,9]
            ,'min_samples_split':[2,3,5]
            ,'min_samples_leaf':[1,5,8]
}

In [ ]:
rf_parameters={
        'n_estimators':[500,700,900]
        ,'max_depth':[3,5,7]
        ,'min_samples_split':[2,3,5]
}

In [ ]:
xgb_parameters={
}

In [ ]:
params, score = ml_accracy(rf_clf,rf_parameters)
print(params, score)

In [ ]:
# features_drop = ['Ticket','SibSp','Parch','Name']
# train = train.drop(features_drop,axis=1)
# test = test.drop(features_drop, axis=1)